<!DOCTYPE html>

<html>

    {{> head }}

    <body>

        {{> header }}

        <p>Welcome to the about page</p>

        <img src="/images/Sebastian Calcan.jpg" class="portrait">

        {{> footer}}

    </body>

</html>