<!DOCTYPE html>

<html>

    <head>

    </head>

    <body>

        <header>
            <h1>{{ title }}</h1>
        </header>

        <p>Welcome to the weather app</p>

        <footer>
            <p>Created by Sebastian Calcan</p>
        </footer>

    </body>

</html>