<!DOCTYPE html>

<html>
    <title>Weather App</title>

    {{> head }}

    <body>

        {{> header }}

        <p>Welcome to the weather app!</p>

        <form>
            <input placeholder="Adress">
            <button>Search</button>
        </form>

        <div>
            <p id="msg1"></p>
            <p id="msg2"></p>
        </div>

        {{> footer}}

        <script src="/js/app.js"></script>
    </body>

</html>