<!DOCTYPE html>

<html>

    <head>

    </head>

    <body>

        {{> header }}

        <p>Welcome to the weather app</p>

        <footer>
            <p>Created by Sebastian Calcan</p>
        </footer>

    </body>

</html>